<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="config" class="yooze.Config">
		<property name="earFile" value="classpath:examples.ear"></property>
		<property name="tgzFile" value="classpath:agent.tar.gz"></property>
	</bean>
</beans>
